
.section-get-in-touch {
  > .container {
    background-image: url(/assets/img/messaging.png);
    background-size: auto 90px;
    background-position: right 0 bottom 0;
    background-repeat: no-repeat;
    //bottom: 0;
    //right: 0;
    //width: auto;
    //height: 90px;

    @include media-breakpoint-up(sm) {
      background-size: auto 130px;
    }
  }
}

.section-technologies {
  background-image: url(/assets/img/bg1.png);
  background-position: left 50% top 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
}