
.timeline {
  padding-left: 15px;
  position: relative;

  .timeline-item {
    border-left: 2px solid $primary;
    padding-left: 25px;
    overflow: auto;

    &::before {
      left: 10px;
      width: 12px;
      height: 12px;
      border: 2px solid $primary;
      position: absolute;
      content: "";
      border-radius: 50%;
      background-color: white;
    }
  }
}
